#pop {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/13eff082-79b8-4a42-9bcd-aa8f32f7fd3b/d9wxxjg-6076228f-4688-4486-b52d-e948177f45e7.png/v1/fill/w_1095,h_730,strp/popular_eschatology__1_5_by_orange_magik_d9wxxjg-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvMTNlZmYwODItNzliOC00YTQyLTliY2QtYWE4ZjMyZjdmZDNiXC9kOXd4eGpnLTYwNzYyMjhmLTQ2ODgtNDQ4Ni1iNTJkLWU5NDgxNzdmNDVlNy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.OpRuhoQDGE-MyeB74-V6RJixQmFe4EoD4No64BxWrZU) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }
